/* body{
  overflow-x: hidden;
} */
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Lobster&family=Montserrat:ital,wght@0,300;0,500;1,500&family=Nunito+Sans:wght@600&family=Oleo+Script&family=Oswald:wght@300;400&display=swap');
.nav{
  background: rgb(250, 243, 243);
}
.parent{
  width: 100vw;
  overflow-x: hidden;
}
.img1{
  height: 80vh;
  object-fit: cover;
  background-image: url('./assets/img1.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
}
.img2{
  height: 80vh;
  object-fit: cover;
  background-image: url('./assets/img2.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
}

@media screen and (max-width:500px){
  .img1{
    height: 80vh;
    object-fit: cover;
    background-image: url('./assets/img1.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 55%;
    width: 100vh;
  }
  .img2{
    height: 80vh;
    object-fit: cover;
    background-image: url('./assets/img2.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 39%;
    width: 100vh;
  }
  

.fashion-desc{
  position: absolute;
  top: 0%;
  left: 40% !important;
  transform: translate(-50%,-50%);
  width: 450px !important;
  padding: 0 10px;
  text-align: center;
 
}
.fashion-desc-2{
  position: absolute;
  top: 50%;
  left: 44% !important;
  transform: translate(-50%,-50%);
  width: 450px !important;
  padding: 0 30px;
  text-align: center;
 
}
}

.fashion-desc{
  position: absolute;
  top: 50%;
  left: 27%;
  transform: translate(-50%,-50%);
  width: 550px;
  padding: 0 80px;
  text-align: center;
 
}
.fashion-desc-2{
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%,-50%);
  width: 550px;
  padding: 0 80px;
  text-align: center;
 
}
.fashion-font{
  font-family: 'Clicker Script', cursive;
  color: #FF2020;
}
.font{
  font-family: "Jost",sans-serif;
  font-weight: 700;
}
